@model WebProject.Models.PeopleViewModel

<h2>People Index</h2>



<form asp-controller="People" asp-action="Search" method="post">
    <label asp-for="Filter"></label>
    <input asp-for="Filter" />
    <input type="submit" value="Search" />
</form>

<hr />

@* Information needed to create a new person: name, city, number
    No error checking to see if the number is anythgin other than a string*@
<form asp-controller="People" asp-action="CreatePerson" method="post">
    <table>
        <tr>
            <td><label asp-for="PersonFactory.Name"></label></td>
            <td> <label asp-for="PersonFactory.City"></label> </td>
            <td> <label asp-for="PersonFactory.Number"></label></td>
        </tr>
        <tr>
            <td>  <input asp-for="PersonFactory.Name" />  </td>
            <td> <input asp-for="PersonFactory.City" /> </td>
            <td><input asp-for="PersonFactory.Number" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="CreatePerson" /></td>
    </table>
</form>

<hr />
@{
    <table>
        <tr>
            <td>Name</td>
            <td>City</td>
            <td>Number</td>
        </tr>
        @* For every entry in the AllPeople, make a new row containing their name, city, and number
            If the filter is set, only display people that has a city or name containing part of the filter*@
    @for (int i = 0; i < Model.AllPeople.Count; i++)
    {
    <tr>
        @if (Model.Filter != null)
        {
            if (Model.AllPeople[i].Name.Contains(Model.Filter, StringComparison.OrdinalIgnoreCase) || Model.AllPeople[i].City.Contains(Model.Filter, StringComparison.OrdinalIgnoreCase))
            {
                <td>@Model.AllPeople[i].Name</td>
                <td>@Model.AllPeople[i].City</td>
                <td>@Model.AllPeople[i].PhoneNumber</td>
                <td>
                    <form asp-controller="People" asp-action="RemovePerson">
                        <input type="hidden" id="hiddenIndex" name="Index" value="@i" />
                        @*// https://www.youtube.com/watch?v=PrA5zZEuuug *@
                        <input type="submit" value="Xnopyt" />

                    </form>
                </td>
            }
        }
        else
        {
            <td>@Model.AllPeople[i].Name</td>
            <td>@Model.AllPeople[i].City</td>
            <td>@Model.AllPeople[i].PhoneNumber</td>
            <td>
                <form asp-controller="People" asp-action="RemovePerson">
                    <input type="hidden" id="hiddenIndex" name="Index" value="@i" />
                    <input type="submit" value="Xnopyt" />
                </form>
            </td>
        }
    </tr>
    }
    </table>



    }