@using WebProject.Models

@model CitiesViewModel
<h2>City Index</h2>
<hr />


<form asp-controller="City" asp-action="Search" method="post">
    <label asp-for="Filter"></label>
    <input asp-for="Filter" />
    <input type="submit" value="Search" />
</form>
<hr />

@* Information needed to create a new ciy: name, country*@
<form asp-controller="City" asp-action="CreateCity" method="post">
    <table>
        <tr>
            <td><label asp-for="CityFactory.Name"></label></td>
            <td> <label asp-for="CityFactory.CountryID"></label> </td>
        </tr>
        <tr>
            <td>  <input asp-for="CityFactory.Name" />  </td>
            <td> <input asp-for="CityFactory.CountryID" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Create City" /></td>
    </table>
</form>

<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            Name
        </div>
        <div class="col-sm">
            ID
        </div>
        <div class="col-sm">
            Country(ID)
        </div>
        <div class="col-sm">
            Remove city and citizens
        </div>
    </div>
</div>

<hr />

@for (int i = 0; i < Model.AllCities.Count; i++) {
    if (Model.Filter != null)
    {
        if (Model.AllCities[i].Name.Contains(Model.Filter, StringComparison.OrdinalIgnoreCase) ||
            Model.AllCities[i].Country.Name.Contains(Model.Filter, StringComparison.OrdinalIgnoreCase))
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @Model.AllCities[i].Name
                    </div>
                    <div class="col-sm">
                        @Model.AllCities[i].ID
                    </div>
                    <div class="col-sm">
                        @Model.AllCities[i].Country.Name (@Model.AllCities[i].CountryID)
                    </div>
                    <div class="col-sm">
                        @Html.ActionLink("Nuke", "RemoveCity", new { cityID = Model.AllCities[i].ID })
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @Model.AllCities[i].Name
                </div>
                <div class="col-sm">
                    @Model.AllCities[i].ID
                </div>
                <div class="col-sm">
                    @Model.AllCities[i].Country.Name (@Model.AllCities[i].CountryID)
                </div>
                <div class="col-sm">
                    @Html.ActionLink("Nuke", "RemoveCity", new { cityID = Model.AllCities[i].ID })
                </div>
            </div>
        </div>
    }
}

